
					/* SECTION */

section{
	
	height: 230px;
	background-color: rgb(220,220,220);
}

#desc{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 150px;
	width: 100%;
	height: 350px;
	background-color: transparent;
	z-index: 1;
}

#billets{
	width: 75%;
	height: 90%;
	
	background-color: red;
	display: flex;
	justify-content: space-around;

}

.billet{
	width: 30%;
	height: 100%;
	background-color: green;
	overflow: hidden;
}

section a{
	text-decoration: none;
}

