
					/* SECTION */

section{
	
	height: 230px;
	background-color: rgb(220,220,220);
}

#desc{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 150px;
	width: 100%;
	height: 350px;
	background-color: transparent;
	z-index: 1;
}

#allChapters{
	margin-top: 2.3em;
}

.blocBillet{
	position: initial;
	width: 30%;
	height: 100%;
	border: 1px black solid;
	background-color: #B4CCE2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1em;
	padding: 0.3em;
	transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
  
}

.blocBillet:hover{
	transform: scale(1.15);
	z-index: 1;
}

#billets{
	width: 75%;
	height: 88%;
	display: flex;
	justify-content: space-around;
}

.billet{
	overflow: hidden;
	height: 84%;
}

.lireChapitre{
	margin-top: 0.5em;
	
}
.lireChapitre a{
	margin-top: 0.5em;
	color: black;
	font-weight: bold;
}
.lireChapitre a:visited{
	margin-top: 0.5em;
	color: rgb(177, 43, 43);
}

section a{
	text-decoration: none;
}

@media all and (max-width : 400px){

	section{
		height: auto;
		padding-top: 1em;
	}
	#desc{	
		height: 750px;	
		bottom: 0;
	}
	
	#billets{
		width: 95%;	
		
		flex-direction: column;
	}

	.blocBillet{
		width: 96%;
		margin-bottom: 0.5em;
	}

	.blocBillet:hover{
		padding: 0.3em;
	}
		
}
