body{
	margin: 0;
}

					/* HEADER */

header{
	background: url(../image/alaska22.jpg) no-repeat center center ;
	background-size: cover;
	height: 800px;
	display: flex;
	justify-content: center;
}

#banniere{
	position: fixed;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-around;
	background-color: rgba(112,160,196,0.8);
	border-radius: 0 0 1em 1em;
	font-weight: bold;
	z-index: 2;
}

.fa-bars{
	display: none;
}

header nav{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.menu-icon{
	display: none;
}

header ul{
	min-width: 300px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	list-style: none;
	padding-left: 0;
}

header a{
	text-decoration: none;
}

#titreRoman{
	
	align-self: center;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;

}

					/* FOOTER */

footer{
	height: 300px;
	
}

#mentions{
	width: 100%;
	height: 80%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mentions ul{
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 430px;
}

#mentions a{
	text-decoration: none;
}


#reseaux{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#reseaux img{
	margin: auto 0.5em;
	cursor: pointer;
}

#copywright{
	width: 100%;
	height: 20%;
	background-color: rgb(112,160,196);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#copywright p{
	margin: 0;
}

@media all and (max-width : 500px){

	/* Header */

	#banniere nav{
		min-width: 0;
	}
	#banniere ul{
		display: none;
		flex-direction: column;
		position: absolute;
		background-color: #13699F;
		border-radius: 2rem;
		top: 80%;
		left: 0;
		width: 90%;
		height: 14em;
		margin-left: 5%;
		overflow: hidden;
	}

	#banniere > nav > ul > li > a{
		font-size: 2em;
	}

	.menu-icon{
		display: block;
		position: relative;
		width: 45px;
		height: 45px;
		background-color: transparent;
		border-radius: 50%;
		transition: transform 0.5s;
	}
	
	.menu-icon .icon_span{
		position: absolute;
		top: 50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%); 
		width: 22px;
		height: 2px;
		background-color: #fff;
		transition: background 0.5s, transform 0.5s;
		transition: background 0.5s steps(1, end);
	}
	
	.icon_span::before, .icon_span::after{
		transform-origin: 100% 50%;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 22px;
		height: 2px;
		transform: translateY(-8px);
		background-color: #fff;
		transition: transform 0.5s;
	}
	
	.icon_span::after{
		transform: translateY(8px);
	}
	
	.menu-icon:hover .icon_span::before{
		transform: translateY(-10px);
	}
	
	.menu-icon:hover .icon_span::after{
		transform: translateY(10px);
	}
	
	svg{
		opacity: 0;
		fill: transparent;
		stroke: #fff;
		stroke-width: 2px;
		stroke-dasharray: 22 230;
		transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
	}
	
	.menu-icon.is-opened .icon_span{
		transition: background 0.5s steps(1, start);
		background-color: transparent;
	}
	
	.menu-icon.is-opened svg{
		opacity: 1;
		stroke-dasharray: 160;
		stroke-dashoffset: -65;
		transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, start);
	}
	
	.menu-icon.is-opened .icon_span::before{
		transform: translateX(-3px) translateY(-8px) rotate(-45deg);
	}
	
	.menu-icon.is-opened .icon_span::after{
		transform: translateX(-3px) translateY(8px) rotate(45deg);
	}

}

@media all and (max-width : 400px){

/* HEADER */

	#banniere{		
		height: 7%;	
	}

	#presentation p{
		font-size: 0.6em;
	}

	header nav{
		width: 50%;
		font-size: 0.5em;	
	}

	#titreRoman{
		margin-left: 1.5em;
	}

/* FOOTER */
	#mentions ul{
		width: 100%;
		justify-content: space-around;
		font-size: 0.7em;
	}
			
}