body{
	margin: 0;
}


header{
	width: 100%;
	height: 100px;
	background-color: rgb(112,160,196);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 1em;
	
}

header p{
	font-size: 3em;
}

#deconnexion{
	position: absolute;
	top: 2em;
	right: 2em;
	color: blue;
}


header ul{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	padding-left: 0;

	margin: 0;
}

header a, li{
	list-style: none;
	text-decoration: none;
}

#ajout{
	margin-top: 0.5em;
	width: 100%;
	height: 100px;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
}


#ajout p{
	font-size: 3em;
}

#ajout a{
	text-decoration: none;
}

footer{
	height: 60px;
	
}

#copywright{
	width: 100%;
	height: 100%;
	background-color: rgb(112,160,196);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#copywright p{
	margin: 0;
}

#login{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	border-radius: 1em;
	background-color: darkgray;
}

@media all and (max-width : 400px){

	header{
		font-size: 0.5em;
	}

	.blocChapitre{
		margin: 0.25em 0;	
	}

	.chapitre h2{
		font-size: 1em;
	}

	#copywright{
		text-align: center;
	}

	/* LOGIN */

	#login{
		height: auto;
		padding-top: 0.5em;
	}


	#login form{
		display: flex;
		flex-direction: column;	
	}

	input{
		margin-bottom: 0.5em;
	}

	#login button{
		margin-bottom: 0.5em;
	}

	/* view home */

	#ajout{
		height: 50px;
		border-radius: 0.5em;
	}
	#ajout p{
		font-size: 1.5em;
	}


					
}