				/* PARTIE LECTURE CHAPITRE*/
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(220,220,220);
}

#sectionAdmin{
	border-radius: 1em 1em 0 0;
	margin-top: 0.5em;
	align-items: stretch;
	min-height: 450px;
	justify-content: space-between;
}



#lecture{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 150px;
	width: 90%;
	height: 100%;
	padding: 1em;
	border-radius: 1em;
	text-align: justify;
	color: white;
	background-color: rgb(50, 50, 50);
	z-index: 1;
}

#lecture a{
	text-decoration: none;
}

				/* PARTIE COMMENTAIRES*/

#rubriqueCommentaires{
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 2em 2em 3em 3em;
}

#formulaireCommentaires{
	height: 250px;
	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	margin-bottom: 1em;
}

textarea{
	height: 40%;
}

.commentaires{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;	
	width: 40%;	
}

.commentaires h3, #pages{
	align-self: center;
}



.commentairesAfficher {	
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;

}

.commentairesAfficher p{
	word-wrap: break-word;
}

.commentaires h4{	
	margin: 0;
	text-decoration: underline;
}

h4 span{
	font-weight: normal;
}

.commentaires p{
	margin: 0.5em 0.5em 0.5em 0;
}

.commentaires a{
	text-decoration: none;
}

.pages{
	display: flex;
	margin-bottom: 0.5em;
}

#moderationCommentaires{
	display: flex;
	justify-content: space-around;	
	min-height: 400px;
}

.slash{
	margin: 0 0.2em;
}

#retour{
	margin-bottom: 0;
	padding-bottom: 0.5em;
	
}

.blocCommentaires{
	min-height: 430px;
	width: 100%;
		
}

#messageSignalement{
	color: red;
}

#slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}

.numeroPage{
	cursor: pointer;
	background-color:gray;
	padding: 4px;
	margin: 0 5px;
	border-radius: 20px;
}

.numeroPage:hover{
	background-color:rgb(168, 168, 216) ;
}

.fa-chevron-right, .fa-chevron-left{
	cursor: pointer;
}

.fa-chevron-right:hover, .fa-chevron-left:hover{
	color:rgb(168, 168, 216);
}

@media all and (max-width : 400px){

	#rubriqueCommentaires{
		flex-direction: column;
		border : none;
	}

	.commentaires{
		width: 100%;	
	
	}
	.commentairesAfficher {	
		width: 90%;		
	}

	/* partie administrateur*/

	#moderationCommentaires{
		flex-direction: column;
		padding-left: 0.2em;
		min-height: 0;
	}
	.blocCommentaires{
		min-height: 0;
	
		
	}
		
}



