				/* PARTIE LECTURE CHAPITRE*/

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(220,220,220);
}



#lecture{

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	bottom: 150px;
	width: 90%;
	height: 100%;
	padding: 1em;
	border-radius: 1em;
	text-align: justify;
	color: white;
	background-color: rgb(50, 50, 50);
	z-index: 1;
}

#lecture a{
	text-decoration: none;
}

				/* PARTIE COMMENTAIRES*/

#rubriqueCommentaires{
	
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 2em 2em 3em 3em;
}

form{
	height: 250px;
	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	margin-bottom: 1em;
}

textarea{
	height: 40%;
}

#commentaires, #commentairesSignaler{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30%;	
}

#commentaires form, #commentairesSignaler form {
	
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 0.5em;
	padding: 0.5em;

}

#commentaires h4{
	
	margin: 0;
	text-decoration: underline;
}

h4{

}

h4 span{
	font-weight: normal;
}

#commentaires p{
	margin: 0.5em 0.5em 0.5em 0;
}

#commentaires a{
	text-decoration: none;
}

#pages{
	display: flex;
}

#moderationCommentaires{
	display: flex;
	justify-content: space-around;	
}



