
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.blocChapitre{
	width: 98%;
	background-color: rgb(220,220,220);
	margin: 1em 0;
	height: 203px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2em;
}


.chapitre{
	height: 160px;
	overflow: hidden;
	
	margin: 0 1em;	
	padding: 0 1em;
	
}

.lireChapitre{
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
	
	width: 60%;
}

.lireChapitre a{
	text-decoration: none;
}

#paginationChapitres{
	display: flex;
	justify-content: center;
	background-color: rgb(220, 220, 220);
	border: 1px black solid;
	border-radius: 0.3em;
	padding: 0.1em 0.5em 0.1em 0.5em;
	margin-bottom: 1em;
	
}
#nombreDePages{
	margin-right: 0.3em;
;
}

.slash{
	margin: 0 0.2em;
}

#numerosPage{
	display: flex;	
}

#numerosPage a{
	text-decoration: none;
}

#iconeSignalement{
	color: red;
}