				/* PARTIE LECTURE CHAPITRE*/
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(220,220,220);
}

#sectionAdmin{
	border-radius: 1em 1em 0 0;
	margin-top: 0.5em;
	align-items: stretch;
	min-height: 450px;
	justify-content: space-between;
}



#lecture{

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	bottom: 150px;
	width: 90%;
	height: 100%;
	padding: 1em;
	border-radius: 1em;
	text-align: justify;
	color: white;
	background-color: rgb(50, 50, 50);
	z-index: 1;
}

#lecture a{
	text-decoration: none;
}

				/* PARTIE COMMENTAIRES*/

#rubriqueCommentaires{
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 2em 2em 3em 3em;
}

#formulaireCommentaires{
	height: 250px;
	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	margin-bottom: 1em;
}

textarea{
	height: 40%;
}

.commentaires{
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;	
	width: 40%;	

	
	
}

.commentaires h3, #pages{
	align-self: center;
}



.commentairesAfficher {
	
	
	width: 75%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px gray solid;
	border-bottom: none;
	border-top: none;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;

}

.commentairesAfficher p{
	word-wrap: break-word;
}

.commentaires h4{
	
	margin: 0;
	text-decoration: underline;
}

h4 span{
	font-weight: normal;
}

.commentaires p{
	margin: 0.5em 0.5em 0.5em 0;
}

.commentaires a{
	text-decoration: none;
}

.pages{
	display: flex;
	margin-bottom: 0.5em;
}

#moderationCommentaires{
	display: flex;
	justify-content: space-around;	
	min-height: 400px;
}

.slash{
	margin: 0 0.2em;
}

#retour{
	margin-bottom: 0;
	padding-bottom: 0.5em;
	
}

.blocCommentaires{
	min-height: 430px;
	width: 100%;
	height: 100%;
	
}





